.cart-page {
    padding: 70px 15px;
    background: #fafafa;
}

.cart-table {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.table {
    width: 100%;
    text-align-last: left;
    border-collapse: collapse;

    & thead{
        & tr{
            background: $primary;
            color: #fff;
            & th{
                padding: 10px;
                font-weight: 600;
                font-size: 18px;
            }
        }
        
    }
    & tbody{
        & tr{
           
            & td{
                padding: 10px;
                font-weight: 400;
                font-size: 18px;
            }
        }
      
    }
}

.cart-item-title{
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: none;
    color:$primary;
    display: flex;
    align-items: center;
    gap: 20px;

    & img{
width: 50px;
    }
}

.cart-total{
    & td{
        font-size: 20px;
        font-weight: 600;
        color:$primary-dark
    }
}

.cart-actions{
    display: flex;
    justify-content: center;
    padding: 30px;
}