@import "./components/home/header.scss";


.products-section {
    padding: 70px 0;

    .section-title {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        color: $primary-dark;
        margin-bottom: 30px;
    }
}

.products-row{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
